<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title Template with Bootstrap, SCSS, jQuery and Fontawesome
        //- Minified Bootstrap CSS
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
        //- Connecting fontawesome
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous")
        //- Fonts Conntection 
        link(href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&amp;subset=cyrillic" rel="stylesheet")
        //- Custom CSS styles
        link(rel='stylesheet', href='css/girds.css')
        link(rel='stylesheet', href='css/reset.css')
        link(rel='stylesheet', href='css/main.css')
        //- jQuery (necessary for Bootstrap's JavaScript plugins)
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
        //- Minified Bootstrap JavaScript
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")
        |
        |
        //- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
        //- WARNING: Respond.js doesn't work if you view the page via file://
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    body
        div#grid__1200_15column_colWidth60_margLR10
            span
            span
            span
            span
            span
            span
            span
            span
            span
            span
            span
            span
            span
            span
            span
        header
            .section
                a.logo(href='/') Logo
                button.btn-default(type='button', name='button') Buy ticket
        .section
            h1 Hello world!
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim optio suscipit ducimus debitis deleniti itaque, quasi soluta magni maiores facere! Minus repudiandae voluptatibus quo perferendis quibusdam, unde cupiditate doloribus eius.
            .copyright This project by Anar N. Agaev
        
        //- Bootstrap tipical modal    
        button(type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal") Show modal
        div(class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
          div(class="modal-dialog" role="document")
            div.modal-content
              div.modal-header
                button(type="button" data-dismiss="modal" aria-label="Close").close
                    span(aria-hidden="true") &times;
                h4.modal-title#myModalLabel Modal title
              div.modal-body Modal contenet text
              div.modal-footer Modal footer text

    //- Custom JS scripts
    script(src='/js/script.js')
